 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hi, I'm Ahmed. Nice to meet you</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center about">
                    <p>2 Years ago, I wanted to take a break from my university study. I dropped a semester, went back home .. and coded for 100 consecutive days and post my daily progress on <a href="https://twitter.com/Ahmed_Salah005">Twitter</a> under the <a href="https://medium.freecodecamp.org/join-the-100daysofcode-556ddb4579e4">#100DaysOfCode</a> hashtag.</p>
                    <img class="inline-image" src="img/twitterImage.PNG">
                    <p>After 66 days of coding, someone saw my post and reviewed my first <a href="https://codepen.io/AhmedElkashef/pens/popular/">projects</a>, they were impressed and that is how I got my first Developer Job</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section skills has-text-centered">
      <div class="container is-narrow">
        <div class="box">
          <div class="content">
            <div class="columns is-centered">
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-designer.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Web Scraping Specialist</h1>
                <p>I obtain large amounts of data from various online sources, and work with different input/output formats.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Tools I use:</p>
                <p>Python, Excel, Regex</p>
                <p class="list-title has-text-primary has-text-weight-normal">CMS examples:</p>
                <ul>
                  <li>BeautifulSoup</li>
                  <li>Selenium</li>
                  <li>Scrapy</li>
                  <li>lxml</li>
                </ul>
              </div>
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-frontend.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Information Security Analyst</h1>
               <p>I genuinely care about people's safety, and care about the new attack vectors and how to prevent them.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Current Info Sec Certifications:</p>
                <p>Certified Ethical Hacker (CEH)</p>
                <p class="list-title has-text-primary has-text-weight-normal">Hacker Skills:</p>
                <ul>
                  <li>Nmap</li>
                  <li>Nessus</li> 
                  <li>Metasploit</li>
                  <li>Cain & Abel</li>
                  <li>John The Ripper</li>               
                  <li>BurpSuit</li>
                  <li>Nikto</li>
                </ul>
              </div>
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-mentor.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Full-Stack Web Developer</h1>
                <p>I tend to find design and/or code flaws and edit them, build from scratch, or offer my advice on the right technologies to use.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
                <p>JavaScript, Python</p>
                <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Atom</li>
                  <li>Github</li>
                  <li>Terminal</li>
                  <li>Codepen</li>
                  <li>Bitbucket</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
