 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hi, I'm Ahmed. Nice to meet you</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center about">
                    <p>2 Years ago, I wanted to take a break from my university study. I dropped a semester, went back home .. and coded for 100 consecutive days and post my daily progress on <a href="https://twitter.com/Ahmed_Salah005">Twitter</a> under the <a href="https://medium.freecodecamp.org/join-the-100daysofcode-556ddb4579e4">#100DaysOfCode</a> hashtag.</p>
                    <img class="inline-image" src="img/twitterImage.PNG">
                    <p>After 66 days of coding, someone saw my post and reviewed my first <a href="https://codepen.io/AhmedElkashef/pens/popular/">projects</a>, they were impressed and that is how I got my first Developer Job</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section skills has-text-centered">
      <div class="container is-narrow">
        <div class="box">
          <div class="content">
            <div class="columns is-centered">
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-designer.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Content Management Systems</h1>
                <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Things I enjoy designing:</p>
                <p>UX, UI, Web, Mobile, Logos</p>
                <p class="list-title has-text-primary has-text-weight-normal">CMS examples:</p>
                <ul>
                  <li>Wordpress</li>
                  <li>Shopify</li>
                  <li>SquareSpace</li>
                  <li>WIX</li>
                  <li>Joomla</li>
                  <li>Drupal</li>
                </ul>
              </div>
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-frontend.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Front-end Developer</h1>
               <p>I tend to find bugs and edit them, and feel satisfied after conquering each bug.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Languages I speak:</p>
                <p>HTML, CSS, JavaScript, Python</p>
                <p class="list-title has-text-primary has-text-weight-normal">Dev Tools:</p>
                <ul>
                  <li>Atom</li>
                  <li>Github</li> 
                  <li>Bitbucket</li>
                  <li>Bootstrap</li>
                  <li>Codepen</li>               
                  <li>Terminal</li>
                </ul>
              </div>
              <div class="column">
                <figure class="image"><img class="is-skill-icon" src="img/icon-mentor.svg"></figure>
                <h1 class="title is-size-4 is-spaced">Ethical Hacker</h1>
                <p>I genuinely care about people's safety, and care about the new attack vectors and how to prevent them.</p>
                <p class="list-title has-text-primary has-text-weight-normal">Current Information Security Certifications:</p>
                <p>Certified Ethical Hacker (CEH)</p>
                <p class="list-title has-text-primary has-text-weight-normal">Hacker Tools & Skills:</p>
                <ul>
                  <li>Nmap</li>
                  <li>Nessus</li>
                  <li>Metasploit</li>
                  <li>Cain &amp Abel</li>
                  <li>John The Ripper</li>
                  <li>BurpSuit</li>
                  <li>Nikto</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
