 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Hi, I'm Ahmed. Nice to meet you</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center about">
                    <p>2 Years ago, I wanted to take a break from my university study. I dropped a semester, went back home .. and coded for 100 consecutive days and post my daily progress on <a href="https://twitter.com/Ahmed_Salah005">Twitter</a> under the <a href="https://medium.freecodecamp.org/join-the-100daysofcode-556ddb4579e4">#100DaysOfCode</a> hashtag.</p>
                    <img class="inline-image" src="img/twitterImage.PNG">
                    <p>After 66 days of coding, someone saw my post and reviewed my first <a href="https://codepen.io/AhmedElkashef/pens/popular/">projects</a>, they were impressed and that is how I got my first Developer Job</p>
                </div>
            </div>
        </div>
    </section>
