    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="three-logos">
                        <a href="#skills" id="ahmed-hacker-icon"><img class="img-responsive" src="img/salah-hacker.png" alt="Ahmed Elkashef icon in information security outfit"></a>
                        <a href="http://supertramphikes.wordpress.com/" id="ahmed-hiker-icon"><img class="img-responsive" src="img/profile.png" alt="Ahmed Elkashef icon in Hiking outfit"></a>
                        <a href="#skills" id="ahmed-developer-icon"><img class="img-responsive" src="img/salah-dev.png" alt="Ahmed Elkashef icon in web developer outfit"></a>
                    </div>
                    <div class="intro-text">
                        <span class="name">Ahmed Elkashef</span>
                        <hr class="star-light">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
